.project { 
/*    display: flex;
    flex-direction: column;
    gap: 1.5rem; */
    padding-block-start: 2.5rem;
    padding-block-end: 2.5rem;
}

 .project-image {
    max-inline-size: 20rem;
    max-block-size: auto; 
    flex-grow: 0; 
}

.project-image img {
    inline-size: 100%;
    block-size: 100%; 
    vertical-align: middle;
}
/* 
.project-title {
    text-decoration: none;
    color: var(--white);
    background: var(--primary1);
    font: var(--headline5);
    align-self: flex-start;
    padding-block-start: .25rem;
    padding-block-end: .25rem;
    padding-inline-start: .5rem;
    padding-inline-end: .5rem; 
    box-shadow: -.25rem .25rem 0 var(--white);
}
 */
.project-description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (min-width:768px) {
    .project {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-block-start: 5rem;
        padding-block-end: 5rem;
    }
    
    .project-description {
        flex: 1;
    }

    .project-image {
        max-inline-size: auto;
    }

    .project:nth-of-type(odd) .project-image  {
        order: 2;
        flex: 1;
        text-align: center;
    }
}

@media screen and (min-width:1024px) {
/*     .project-image {
        max-inline-size: 40rem;
        max-block-size: 24.5rem;
    } */

    .project-image {
        max-inline-size: unset;
        max-block-size: unset; 
        flex-grow: unset; 
    }
    
    .project-image img {
        inline-size: unset;
        block-size: unset; 
        vertical-align: middle;
    }
}