.quote {    
    background: linear-gradient(rgba(255,255,255,.75), rgba(255,255,255,0));
    border-radius: 1.5rem;   
    overflow: hidden;
    padding: .25rem;
    margin: 0;
    margin-block-start: 2.5rem;
    margin-block-end: 2.5rem;
}

.quote-content {
    background: rgba(199, 199, 199, 0.027);
    backdrop-filter: blur(40px); 
    border-radius: 1.5rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    font-weight: bold;
    z-index: 0;
}

.quote-img {
    block-size: 2.5rem;
    inline-size: 2.5rem;
}

.quote-img img {
    block-size: 100%;
    inline-size: 100%;
}

.quote-content p:last-of-type{
    font: var(--caption);
}