.title {
    text-decoration: none;
    color: var(--white);
    background: var(--primary1);
    font: var(--headline5);
    align-self: flex-start;
    padding-block-start: .25rem;
    padding-block-end: .25rem;
    padding-inline-start: .5rem;
    padding-inline-end: .5rem; 
    box-shadow: -.25rem .25rem 0 var(--white);
}

@media screen and (min-width:768px) {
    
    .title {
        align-self: stretch;
    }
}